<h1>Create new User</h1>
<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.label :age %>
  <%= f.number_field :age %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :role %>
  <%= f.select :role, User.roles.keys.map { |w| [w.humanize, w] } %>
  <%= f.submit %>
<% end %>
