<h2>List of Doctors</h2>

<table>
  <thead>
  <tr>
    <td>First name</td>
    <td>Last name</td>
    <td>Age</td>
    <td>G</td>
    <td>Doctor</td>
  </tr>
  </thead>
  <tbody>
  <% @patients.each do |patient| %>
    <tr>
      <td><%= patient.first_name %></td>
      <td><%= patient.last_name %></td>
      <td><%= patient.age %></td>
      <td><%= patient.gender.titleize %></td>
      <td><%= patient.doctor&.first_name %></td>
    </tr>
  <% end %>
  </tbody>
</table>