<h2>List of Patients</h2>
<%= button_to 'New Patient', new_patient_path, method: :get %>
<table>
  <thead>
  <tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Age</td>
    <td>Gender</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <% @patients.each do |patient| %>
    <tr>
      <td><%= patient.first_name %></td>
      <td><%= patient.last_name %></td>
      <td><%= patient.age %></td>
      <td><%= patient.gender.titleize %></td>
      <td><%= link_to 'Details', patient_path(patient.id) %></td>
      <td><%= link_to 'Edit', edit_patient_path(patient.id) %></td>
      <td><%= link_to 'Delete', patient_path(patient.id), method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
