<tr>
  <td><%= doctor.first_name %></td>
  <td><%= doctor.last_name %></td>
  <td><%= doctor.practicing_from %></td>
  <td><%= doctor.qualification_number %></td>
  <td><%= doctor.employment %></td>
</tr>