<h2>List of Doctors</h2>
<%= button_to 'New Doctor', new_doctor_path, method: :get %>
<table>
  <thead>
  <tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Practicing From</td>
    <td>Qualification Number</td>
    <td>Employment</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <% @doctors.each do |doctor| %>
    <tr>
      <td><%= doctor.first_name %></td>
      <td><%= doctor.last_name %></td>
      <td><%= doctor.practicing_from.strftime("%d-%m-%Y") %></td>
      <td><%= doctor.qualification_number %></td>
      <td><%= doctor.employment.humanize %></td>
      <td><%= link_to 'Details', doctor_path(doctor.id) %></td>
      <td><%= link_to 'Edit', edit_doctor_path(doctor.id) %></td>
      <td><%= link_to 'Delete', doctor_path(doctor.id), method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
